!!! 5
html(lang="fr", "xml:lang"="fr")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript',src="http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js")
    script(type='text/javascript',src="/javascripts/socket.io.js") 
    script(type='text/javascript',src="/javascripts/rpc.socket.io.js")
    script(type='text/javascript',src="/javascripts/core.js")
  body
    div#gradient
    div#content
      != body
    footer 
      Please don't reuse this style or theming files outside testing use of this chat, or fork of node-rpc-socket.io
      This style is owned by Jeremy TRUFIER <jeremy@trufier.com> and it's his own corporate testing style