!!! 5
html(lang="fr", "xml:lang"="fr")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript',src="/socket.io/socket.io.js") 
    script(type='text/javascript',src="/javascripts/core.js")
  body
    div#gradient
    div#content
      != body